*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.menu-area li a{
    text-decoration: none;
    color: #F7F7F7;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}
.menu-area li{
    list-style: none;
    display: inline-block;
}
.custom-padding{
    padding-top: 25px;
}
nav{
    position: relative;
    padding: 10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    background: #333333;
    margin: 0 auto;
    width: calc(100% - 60px);
}

.logo{
    width: 40vh;
    float: left;
    margin-left: -45%;
}

.menu-area li a:hover{

}
