@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
#logo {
    width: 20vw;
    border: solid #432064;
    border-radius: 44vw;
    padding-left: 2vw;
    background-color: #F7F7F7;
    margin-left: 39.3vw;
}
#button-nieuw {
    background-color: #F7F7F7;
    margin-left:89vw;
    margin-top:2vw;
    position: absolute;
    height: 10vh;
    width: 9vw;
}
* {
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-color: #8CC63E;
}
.kleur-input {
    background-color: #F7F7F7;
    width: 11vw;
    border-radius: 30vw;
}
#form-login{
    background-color: #F7F7F7;
    width: 13vw;
    height: 9vw;
    border: solid #432064;
    text-align: center;
    margin-left: 44vw;
    margin-top: 10vh;
}
#copyright {
    margin-top: 14vw;
    margin-left: 46vw;

}
.font {
    font-family: 'Raleway', sans-serif;
}
.submit {
    border-radius: 30vw;
    font-family: 'Raleway', sans-serif;
    width: 3.5vw;
    height: 1.5vw;
    margin-top: .3vw;
}
#font1,
#font2{
    font-family: 'Raleway', sans-serif;
    background-color: #F7F7F7;
    font-size: 2vw;
    color: #8CC63E;
}
#font3 {
    font-family: 'Raleway', sans-serif;
    background-color: #F7F7F7;
    font-size: 1vw;
    color: #8CC63E;
}
