#logo {
    width: 20vw;
    border: solid green;
    border-radius: 44vw;
    padding-left: 2vw;
    background-color: #F7F7F7;
    margin-left: 37vw;
}
#button-nieuw {
    background-color: #F7F7F7;
    color: green;
}
* {
    background-color: #E07DFF;
}